stock-tab, total-tab, label-tab{
    display:block;
	overflow:hidden;
	width:97%;
	height:100%;
	min-width: 110px;
}

table, th, td {
  border-collapse: collapse;
  padding: 0 0;
}

.stockTable{
    height:100%;
	width:100%;
}

#fullTable{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height:100%;
	width:100%;
}

#buttonRow
{
    height: 1%;
    overflow:hidden;
}


.stockTab
{
display: table-cell;
	width:100%;
	overflow:hidden;
	height:100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.labelTab
{
    display: table-cell;
    overflow:hidden;
	height:100%;
    width: 25%;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 200px;
}

.totalTab
{
	width:32%;
}

#grainStock {
	background-color: #eeee82;
}

#industrialStock {
	background-color: #ea8ad8;
}

#bondsStock {
	background-color: #c5e0b3;
}

#oilStock {
	background-color: #302316;
	color: #f2f2f2;
}

#silverStock {
	background-color: #f2f2f2;
}

#goldStock {
	background-color: #e3cb39;
}

#chart {
	width:100%;
	height:100%;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 2vh;
  width: 25%;
  height: 10vh;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  height: 100%;
}

#Grain {background-color: yellow;}
#Industrial {background-color: pink;}
#Bonds {background-color: green;}
#Oil {background-color: brown; color: white;}
#Silver {background-color: grey;}
#Gold {background-color: gold;}
#Totals {background-color: white;}
#Graph {background-color: white;}