stock-tab, total-tab, label-tab {
    display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	min-width: 110px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

table{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height:100%;
	width:100%;
}

.labelTab, .stockTab
{
	width:17%;
}

.totalTab
{
	width:32%;
}

#grainStock {
	background-color: #eeee82;
}

#industrialStock {
	background-color: #ea8ad8;
}

#bondsStock {
	background-color: #c5e0b3;
}

#oilStock {
	background-color: #302316;
	color: #f2f2f2;
}

#silverStock {
	background-color: #f2f2f2;
}

#goldStock {
	background-color: #e3cb39;
}