span {
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
    margin-bottom: 5px;
}

table, tr {
    width:100%;
}

td {
    max-height:10%;
}

table {
    height: 100%
}

#Title {
    height: 3vmin;
}

div, input, button{
	height:90%;
	min-height:3vh;
	margin-bottom: 0.4vh;
}

div, input {
	font-size: 3vmin;
	text-align: left;
}

button{
	font-size: 2vh;
	vertical-align: top;
}

.label{
	height: 90%;
	min-height: 3vh;
	margin-bottom: 0.4vh;
	margin-right: 0.4vh;
	text-align: right;
}

#title{
	text-align: center;
	font-weight: 900;
}

#turnNumber{
	text-align: right;
	margin-right: 10px;
}

.labelTab
{
    width: 25%;
	max-width: 200px;
}