span {
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
    margin-bottom: 5px;
}

div, input, button{
	height:3vh;
	min-height:3vh;
	max-height:3vh;
	margin-bottom: 0.4vh;
}

div, input {
	font-size: 3vmin;
}

button{
	font-size: 2vh;
	vertical-align: top;
}

.label{
	height:3vh;
	margin-bottom: 0.4vh;
	margin-right: 0.4vh;
	text-align: right;
}

#title{
	text-align: center;
	font-weight: 900;
}

#turnNumber{
	text-align: right;
	margin-right: 10px;
}